head,body {
    all:unset;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fef0e5;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin:1%;
}
.categories {
    display: flex;
    align-items: center;
    justify-content: center;
}
.categoryButton {
    all:unset;
    cursor: pointer;
    border: #bdbdbd 1px solid;
    margin: 5%;
    padding: 4%;
    background-color: #f9f777;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    max-height: 2%;
}
.content-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    height: 80%;
    width: 75%;
    border:cornsilk 4px ridge;
}
.aboutme {
    height: 70%;
    width: 20%;
    background-color: azure;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}
#cat1:hover, #cat2:hover, #cat3:hover, #cat4:hover {
    font-size: 1.75em;
    background-color: #f4ef4bf7;
    white-space: nowrap;
}
.contimg {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 5%;
}